// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 28px;
  margin: 33px;
}

p1 {
  font-size: 12px;
  margin: 48px;
}

p2 {
  font-size: 12px;
  margin: 48px;
}

.start {
  margin: 48px;
}